<%= form_with url: "/search", method: :get, autocomplete: "off" do |form| %>
  <% 6.times do |row| %>
    <div class="row">
    <% 5.times do |col| %>
        <% if !game[row, col].nil? && game[row, col]['letter'] != '' %>
          <span class="col col-active">
            <%= game[row, col]['letter'] %>
          </span>
        <% else %>
          <span class="col">
            <%= form.text_field :attribute, :maxlength => 1 %>
          </span>
        <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>