@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.wordle-container {
  padding: 5rem;
  margin: 0 auto;
}

.wordle-container .row {
  width: 300px;
  display: flex;
}

.wordle-container .col {
  flex-grow: 1;
  margin: 2px;
  border: #d3d6da 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding: 0.4em 0.5em; */
  font-size: 2.5rem;
  min-width: 1.75em;
  min-height: 4rem;
}

.wordle-container .col-active {
  border: #000000 2px solid;
}

.wordle-container .col-green {
  border: #6aaa64;
  background-color: #6aaa64;
  color: white;
}

.wordle-container .col-yellow {
  border: #c9b458;
  background-color: #c9b458;
  color: white;
}

.wordle-container .col-gray {
  border: #787c7e;
  background-color: #787c7e;
  color: white;
}

.wordle-container .col input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  outline-offset: unset;
  box-shadow: none;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
  box-sizing: border-box;
}

.wordle-container .col input:focus {
  border: #000000 2px solid;
  box-sizing: border-box;
  caret-color: #fff;
}
