@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  height: 100vh;
}

main {
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -100px;
}

.intro-container h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.intro-container input:hover {
  cursor: pointer;
  color: green;
}

.intro-container input:active {
  cursor: pointer;
  color: rgb(5, 214, 5);
}

.wordle-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  position: relative;
}

.wordle-container form {
  width: 368px;
}

.wordle-container .row {
  display: flex;
}

.wordle-container .col {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 2.5rem;
  min-width: 1.75em;
  min-height: 4rem;
}

.wordle-container .col-active {
  border: #000000 2px solid;
}

.wordle-container .col-green {
  border: #6aaa64;
  background-color: #6aaa64;
  color: white;
  transition: all 5s ease-in;
}

.wordle-container .col-yellow {
  border: #c9b458;
  background-color: #c9b458;
  color: white;
}

.wordle-container .col-gray {
  border: #787c7e;
  background-color: #787c7e;
  color: white;
}

.wordle-container .col input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  outline-offset: unset;
  box-shadow: none;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
  box-sizing: border-box;
  border: #d3d6da 2px solid;
}

.wordle-container .col input:focus {
  border: #000000 2px solid;
  box-sizing: border-box;
  caret-color: #fff;
}

.wordle-submit {
  margin-top: 10px;
  float: right;
  background-color: white;
  color: #787c7e;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 2px solid #787c7e;
}

.wordle-submit:hover {
  background-color: #787c7e;
  color: white; 
}

.wordle-submit:active {
  background-color: #9da3a7;
  border-color: #9da3a7;
}

.wordle-submit-win,
.wordle-submit-lose {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}

.wordle-submit-win:hover,
.wordle-submit-lose:hover {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}

.wordle-submit-win:active,
.wordle-submit-lose:active {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}

.winstate {
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 6px 4px rgba(0,0,0,.3);
  color: white;
  display: none;
  font-size: 24px;
  padding: 15px 20px;
  position: absolute;
  top: -30px;
  min-width: 10rem;
  text-align: center;
}

.winstate-win, .winstate-lose {
  display: block;
  transition: 1s all ease-in;
}
