@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.wordle-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.wordle-container form {
  width: 368px;
}

.wordle-container .row {
  display: flex;
}

.wordle-container .col {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 2.5rem;
  min-width: 1.75em;
  min-height: 4rem;
}

.wordle-container .col-active {
  border: #000000 2px solid;
}

.wordle-container .col-green {
  border: #6aaa64;
  background-color: #6aaa64;
  color: white;
  transition: 1s all;
}

.wordle-container .col-yellow {
  border: #c9b458;
  background-color: #c9b458;
  color: white;
}

.wordle-container .col-gray {
  border: #787c7e;
  background-color: #787c7e;
  color: white;
}

.wordle-container .col input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  outline-offset: unset;
  box-shadow: none;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase; 
  text-align: center;
  box-sizing: border-box;
  border: #d3d6da 2px solid;
}

.wordle-container .col input:focus {
  border: #000000 2px solid;
  box-sizing: border-box;
  caret-color: #fff;
}

.wordle-submit {
  margin-top: 10px;
  float: right;
  background-color: white;
  color: #787c7e;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 2px solid #787c7e;
}

.wordle-submit:hover {
  background-color: #787c7e;
  color: white; 
}

.wordle-submit:active {
  background-color: #9da3a7;
  border-color: #9da3a7;
}

.wordle-submit-win,
.wordle-submit-lose {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}

.wordle-submit-win:hover,
.wordle-submit-lose:hover {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}

.wordle-submit-win:active,
.wordle-submit-lose:active {
  border: 2px solid #9da3a7;
  background-color: white;
  color: #9da3a7;
}